.btn {
  display: inline-block;
  cursor: pointer;
  border: 0;
  outline: 0;
  min-width: 160rem;
  padding: 13rem 37rem;
  border-radius: 80px;
  font-size: 22rem;
  font-weight: 500;
  letter-spacing: 0.44rem;
  line-height: 33rem;
  text-align: center;

  &._primary {
    color: var(--c-white);
    background: var(--c-accent);
    border: 1rem solid transparent;
    transition: var(--transition);

    &:hover {
      background: transparent;
      border: 1rem solid var(--c-accent);
      color: var(--c-accent);
    }
  }

  &._secondary {
    color: var(--c-btn-sec);
    background: var(--c-white);
    box-shadow: 0rem 20rem 24rem 0rem rgba(0, 0, 0, 0.03);

    transition: var(--transition);

    &:hover {
      color: var(--c-accent);
    }
  }
}

.btn-watch {
  display: inline-flex;
  align-items: center;
  gap: 32rem;
  color: var(--c-text-head);
  font-size: 24rem;
  font-weight: 400;

  img {
    width: 80rem;
    height: 80rem;
    border-radius: 50%;
    box-shadow: 2rem 20rem 60rem 0rem rgba(61, 155, 185, 0.1);
  }
}
