.btn {
  display: inline-block;
  cursor: pointer;
  border: 0;
  outline: 0;
  min-width: 160px;
  padding: 13px 37px;
  border-radius: 80px;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.44px;
  line-height: 33px;
  text-align: center;

  &._primary {
    color: var(--c-white);
    background: var(--c-accent);
  }

  &._secondary {
    color: var(--c-btn-sec);
    background: var(--c-white);
    box-shadow: 0px 20px 24px 0px rgba(0, 0, 0, 0.03);
  }
}

.btn-watch {
  display: inline-flex;
  align-items: center;
  gap: 32px;
  color: var(--c-text-head);
  font-size: 24px;
  font-weight: 400;
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 2px 20px 60px 0px rgba(61, 155, 185, 0.1);
  }
}
