.footer {
  justify-content: center;
  align-items: center;
  display: grid;
  background: var(--c-text-head);
  padding: 20rem;
  &__title {
    margin-top: 74rem;
  }

  &__logo {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__desc {
    margin-top: 95rem;
    color: var(--c-text-footer);
    font-family: var(--ff);
    font-size: 26rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.04rem;
    margin-bottom: 20rem;
    text-align: center;
  }

  &__contact {
    display: flex;
    gap: 20rem;
    align-items: center;
  }

  &__forms {
    border-radius: 80px;
    border: 1rem solid var(--c-border-input);
    background: transparent;
    padding-left: 30rem;
    padding-top: 15rem;
    padding-right: 258rem;
    padding-bottom: 15rem;
    max-width: 400rem;
    align-items: center;
  }

  &__btn {
    border-radius: 60px;
    background: linear-gradient(106deg, #545ae7 19.57%, #393fcf 78.85%);
    color: var(--c-white);
    font-family: Poppins;
    font-size: 22rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 34rem;
    padding-top: 14rem;
    padding-right: 34rem;
    padding-bottom: 13rem;
    cursor: pointer;
  }

  &__info {
    text-align: center;
  }

  &__ul {
    margin-top: 96rem;
    display: flex;
    gap: 20rem;
    text-align: center;
    margin-left: 50rem;
  }

  &__li {
    color: var(--c-text-footer);
    text-align: center;
    font-family: var(--ff);
    font-size: 22rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.88rem;
  }

  &__copyright {
    margin-top: 20rem;
    color: var(--c-text-footer);
    text-align: center;
    font-family: var(--ff);
    font-size: 22rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40rem;
    margin-left: 10rem;
  }
}
