.section-features {
  .span {
    color: var(--c-accent);
  }

  &__head {
    margin-bottom: 84rem;
  }

  &__title {
    font-family: var(--ff);
    font-size: 36px;
    font-weight: 700;
    line-height: 180%;
    text-align: center;
    color: var(--c-primary);
  }

  &__desc {
    color: var(--c-text-primary);
    text-align: center;
    font-family: var(--ff);
    font-size: 24rem;
    font-weight: 400;
    line-height: 180%;
    @include tablet {
      max-width: 500rem;
      margin-inline: auto;
    }
  }

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    @include desktop-small {
      gap: 30rem;
    }

    &._block-tools {
      margin-bottom: 160rem;
      @include desktop-small {
        display: grid;
      }
    }

    &._block-quizzes {
      margin-bottom: 167rem;
      @include desktop-small {
        flex-direction: column-reverse;
      }
    }

    &._block-management {
      margin-bottom: 180rem;
      @include tablet {
        margin-bottom: 75rem;
      }

      @include tablet {
        margin-bottom: 75rem;
        @include tablet {
          margin-bottom: 75rem;
        }
      }

      @include desktop-small {
        display: grid;
      }
    }

    &._block-discussion {
      margin-bottom: 106rem;
      @include tablet {
        margin-bottom: 75rem;
      }

      @include desktop-small {
        flex-direction: column-reverse;
      }
    }
  }

  &__info {
    &._info-quizzes {
      padding-bottom: 113rem;

      @include desktop-small {
        text-align: center;
      }
    }
  }

  &__title-block {
    font-family: var(--ff);
    font-size: 40rem;
    font-weight: 600;
    line-height: 160%;
    color: var(--c-primary);

    &._title-tools {
      max-width: 393rem;
      @include desktop-small {
        margin-inline: auto;
        text-align: center;
      }
    }

    &._title-quizzes {
      max-width: 347rem;
      @include desktop-small {
        margin-inline: auto;
        text-align: center;
      }
    }

    &._title-management {
      max-width: 421rem;
      @include desktop-small {
        margin-inline: auto;
        text-align: center;
      }
    }

    &._title-discussion {
      max-width: 274rem;
      @include desktop-small {
        margin-inline: auto;
        text-align: center;
      }
    }
  }

  &__desc-block {
    color: var(--c-text-primary);
    font-family: var(--ff);
    font-size: 22rem;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.44rem;

    &._desc-tools {
      max-width: 568rem;

      @include desktop-small {
        margin-inline: auto;
        text-align: center;
      }
    }

    &._desc-quizzes {
      max-width: 596rem;
      @include desktop-small {
        margin-inline: auto;
        text-align: center;
      }
    }

    &._desc-management {
      max-width: 646rem;
      @include desktop-small {
        margin-inline: auto;
        text-align: center;
      }
    }

    &._desc-discussion {
      max-width: 540rem;
      @include desktop-small {
        margin-inline: auto;
        text-align: center;
      }
    }
  }

  //   image-features
  &__tools-img {
    max-width: 637.196rem;
    max-height: 611rem;
    margin-left: 236rem;
    @include desktop-small {
      margin-left: 0;
    }
  }

  &__quizzes-img {
    max-width: 617rem;
    max-height: 651.49rem;
    margin-right: 248rem;
    @include desktop-small {
      margin-right: 0;
    }
  }

  &__management-img {
    max-width: 808.321rem;
    max-height: 560rem;
    margin-left: 94rem;
    @include desktop-small {
      margin-left: 0;
    }
  }

  &__discussion-img {
    max-width: 755.241rem;
    max-height: 499rem;
    margin-right: 191rem;
    @include desktop-small {
      margin-right: 0;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;

    ._features {
      border: 1px solid var(--c-accent);
      padding: 19rem 38rem;
      color: var(--c-accent);
      font-family: var(--ff-second);
      font-size: 24rem;
      font-weight: 400;
      line-height: 180%;
      letter-spacing: 0.48rem;
      transition: var(--transition);

      &:hover {
        background: var(--c-accent);
        color: var(--c-white);
      }
    }
  }
}
