.welcome {
  background: var(--c-welcome-bg);
  min-height: 1118rem;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  flex-direction: column;

  @include tablet {
    padding-top: 100rem;
  }

  &__container {
    width: 100%;
    display: flex;
    flex-grow: 1;

    @include desktop {
      justify-content: center;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50rem;

    @include desktop {
      display: grid;
      flex-direction: column-reverse;
    }
  }

  &__info {
    flex-shrink: 0;
    max-width: 681rem;
    padding-left: 40rem;
    @include desktop {
      margin-top: 100rem;
      margin-inline: auto;
    }
  }

  &__title {
    color: var(--c-primary);
    font-size: 54rem;
    font-weight: 700;
    margin-bottom: 34rem;
    span {
      color: var(--c-accent);
    }
  }

  &__desc {
    color: var(--c-text-add);
    font-family: var(--ff-second);
    font-size: 24rem;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 52rem;
  }

  &__btn {
    .btn._primary {
      padding: 22rem 38rem;
      font-size: 24rem;
      font-weight: 600;
    }
    display: flex;
    align-items: center;
    gap: 40rem;
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;

    @include desktop {
      position: relative;
    }
  }
  &__wawe {
    z-index: 10;
    position: absolute;
    bottom: -250rem;
    width: 100%;

    @include desktop-small {
      display: none;
    }
  }
}
