.welcome {
  background: var(--c-welcome-bg);
  min-height: 1118px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 300px;
  display: flex;
  position: relative;
  flex-direction: column;
  &__container {
    width: 100%;
    display: flex;
    flex-grow: 1;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  &__info {
    flex-shrink: 0;
    max-width: 681px;
    padding-left: 40px;
  }

  &__title {
    color: var(--c-primary);
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 34px;
    span {
      color: var(--c-accent);
    }
  }

  &__desc {
    color: var(--c-text-add);
    font-family: var(--ff-second);
    font-size: 24px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 52px;
  }

  &__btn {
    .btn._primary {
      padding: 22px 38px;
      font-size: 24px;
      font-weight: 600;
    }
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &__wawe {
    z-index: 10;
    position: absolute;
    bottom: -250px;
    width: 100%;
  }
}
