.section-mikola {
    
    &__photo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 100px;
  
      @include desktop-small{
        
          display: flex;
          
          
          flex-direction: column-reverse;
        } 
  
        @include tablet{
          align-items: flex-start;
          justify-content: flex-start;
          margin-left: 100px;
          display: flex;
          flex-direction: column;
        }
  
        @include tablet-small{
          margin-left: 0;
        }
  
        @include mobile{
                      
          display: flex;
          gap: 80px;
        }
      
  
        
      
      
     
    }
  
    &__photo-girl {
      position: relative;
      
    }
  
    &__photo-team{
      position: relative;
  
     
    }
    
  
  //   text 
  
    
  
    &__title-girl {
  
      color: #fff;
      text-align: center;
      font-family: var(--ff);
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
  
      position: absolute;
      top: 132px;
      left: 153px;
  
      @include mobile{
          font-size: 12px;
  
          position: absolute;
          top: 70px;
          left: 100px;
          
      }
  
      
      
      
    }
  
    &__link {
      color: #fff;
      text-align: center;
      font-family: var(--ff);
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
  
      padding: 24px 38px  23px  37px;
      border-radius: 80px;
      border: 1px solid #FFF;
  
      position: absolute;
      top: 197px;
      right: 160px;
  
      &:hover{
        background: #F4B767;
        border: 0;
        border: 0px solid #FFF;
        transition: var(--transition);
      }
  
  
      @include mobile{
          font-size: 10px;
          padding: 12px 16px 11px 25px;
          right: 80px;
          top: 120px;
      }
  
  
    }
  
    &__title-team{
      color: #fff;
  text-align: center;
  font-family: var(--ff);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  
  position: absolute;
  top: 135px;
  right: 184px;
  
  @include mobile{
      font-size: 12px;
  
      position: absolute;
      top: 70px;
      right: 100px;
      
      
  }
  
    }
  
    
  
    &__team-link{
      color: #FFF;
  text-align: center;
  font-family: var(--ff);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  
  border-radius: 80px;
  background: rgba(35, 189, 238, 0.90);
  padding: 24px 41px 23px 40px;
  
  position: absolute;
  top: 200px;
  
  left: 159px;
  
  &:hover{
    background: blue;
    transition: var(--transition);
  }
  
  @include mobile{
      font-size: 10px;
      padding: 12px 16px;
  
      position: absolute;
      left: 100px;
      top: 120px;
  
     
  }
    }
  
  
  
  
  
  //   btn
  
  
  
    &__girl-btn {
      
      
    }
  
    &__team-btn{}
  
    
  
   
  
  
  
  // background
  
    &__bg-girl {
      border-radius: 20px;
      background: #c4c4c4;
  
  
      @include mobile{
        width: 302px;
        height: 200px;
        background: none;
      }
      
  }
  
    &__bg-blue {
      border-radius: 20px;
      width: 600px;
      height: 400px;
      position: absolute;
      top: 0%;
      border-radius: 20px;
      opacity: 0.6;
      background: rgba(23, 27, 65, 0.45);
  
  
      @include mobile{
        width: 302px;
        height: 200px;
        background: rgba(23, 27, 65, 0.45);
      }
    }
  
    &__team-blue{
      border-radius: 20px;
      width: 600px;
      height: 400px;
      position: absolute;
      top: 0%;
      border-radius: 20px;
      opacity: 0.6;
      background: rgba(23, 27, 65, 0.45);
  
  
      @include mobile{
        
        background: none;
      }
    }
  
  
  
  }
  
  
  // img
  
  .girl {
    position: relative;
    width: 600px;
    height: 400px;
    @include mobile{
      width: 302px;
      height: 200px;
    }
    
    
    
    
  }
  
  .team{
      position: relative;
    width: 600px;
    height: 400px;
    @include mobile{
      width: 302px;
      height: 200px;
    }
    
  
  }
  
  // border-radius: 20px;
  // background: #C4C4C4;
  // width: 600px;
  