html,
body {
  height: 100%;
}
body {
  font-family: var(--ff);
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.container {
  max-width: calc(1694px + 40px);
  padding: 20px;
  margin-inline: auto;
  overflow: hidden;
}

html {
  font-size: 1px;

  @include tablet {
    font-size: 0.95px;
  }

  @include tablet-small {
    font-size: 0.75px;
  }

  @include mobile {
    font-size: 0.6px;
  }
}
